<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Staff View Ticket Sale</title>
    <link rel="stylesheet" href="../../static/css/sidebar.css">
</head>

<body>
    <!-- The Head Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">SuperTravel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!-- End of The Head Bar -->

    <!--  current page’s location -->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="sidenav">
                    <a href="/staffHome/createF">Create Flight</a>
                    <a href="/staffHome/changeSts">Change Status</a>
                    <a href="/staffHome/addPlaneAirport">Add Plane/Port/Airline</a>
                    <a href="/staffHome/viewFlightReport">View Flight Report</a>
                    <a href="/staffHome/viewRentalReport">View Rental Report</a>
                    <a href="/staffHome/viewHotelReport">View Hotel Report</a>
                </div>
            </div>
            <div class="col-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="/staffHome">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="/staffHome/viewHotelReport">Hotel Report</a>
                        </li>
                    </ol>
                </nav>
                <br>
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand mx-auto">View Hotel Report</a>
                </nav>
                <br>
                <form action="/staffHome/viewHotelReport" method="POST">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="example-date-input" class="col-3 col-form-label">Start Date</label>
                                <div class="col-9">
                                    <input class="form-control" type="date" name="start_date" id="start_date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="example-date-input" class="col-3 col-form-label">End Date</label>
                                <div class="col-9">
                                    <input class="form-control" type="date" name="end_date" id="end_date">
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary">Refresh</button>
                        </div>
                    </div>
                </form>
                <br>
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                </nav>
                <br>
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <br>
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                </nav>
                <br>
                <div>
                    <canvas id="myChart1"></canvas>
                </div>
                <br>
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                </nav>
                <br>
                <div>
                    <canvas id="myChart2"></canvas>
                </div>
                <br>
                <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                </nav>
                <br>    
                <div>
                    <canvas id="myChart3"></canvas>
                </div>            
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- End of current page’s location -->



    <!-- JavaScript files -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script src="../../static/js/communicate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let alert_msg = "{{alert_msg}}";
        if (alert_msg) { alert(alert_msg); }
        var hotel_flask = JSON.parse('{{hotel_total | tojson}}');
        var city_flask = JSON.parse('{{city_total | tojson }}');
        var type_flask = JSON.parse('{{type_total | tojson }}');
        var rating_hotel_flask = JSON.parse('{{ret_rating_hotel | tojson }}');
        console.log(hotel_flask);
        console.log(city_flask);
        console.log(type_flask);
        console.log(rating_hotel_flask);
        var start = document.getElementById("start_date");
        var end = document.getElementById("end_date");
        start.value = "{{start}}";
        end.value = "{{end}}";
        var barColors = ["#b91d47","#00aba9","#2b5797","#e8c3b9","#1e7145","#FFCE30","#E83845","#E389B9","#746AB0","#288BA8","#973F2D","#F08080","#CCCCFF","#9FE2BF"];

        const hotel_total = {
            labels: hotel_flask["name"],
            datasets: [{
                backgroundColor: barColors,
                data: hotel_flask["number"]
            }]
        };
        var config = {
            type: 'bar',
            data: hotel_total,
            options: {scales:{x:{ticks:{color:'black'}},y:{ticks:{color:'black'}}},
                plugins:{legend: {display: false},title: {display: true,text: "The Top 5 Hotel by Number of Bookings",font:{size:16}}}}
        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config = config
        );

        const city_total = {
            labels: city_flask["city"],
            datasets: [{
                backgroundColor: barColors,
                data: city_flask["number"]
            }],
};
        var config_city = {
            type: 'bar',
            data: city_total,
            options: {  scales:{x:{ticks:{color:'black'}},y:{ticks:{color:'black'}}},
                        indexAxis:'y',
                        plugins:{
                                legend: {display: false}
                                ,title: {display: true,text: "The Top 5 Cities",font:{size:16}}
                                }
                        }
            };
        let myChart1 = new Chart(
            document.getElementById('myChart1'),
            config = config_city,
        );

        const type_total = {
            labels: type_flask["type"],
            datasets: [{
                backgroundColor: barColors,
                data: type_flask["number"]
            }]
        };
        var config_type = {
            type: 'bar',
            data: type_total,
            options: {scales:{x:{ticks:{color:'black'}},y:{ticks:{color:'black'}}},
                plugins:{legend: {display: false},title: {display: true,text: "The Top 5 Most Popular Room Type",font:{size:16}}}}
        };
        let myChart2 = new Chart(
            document.getElementById('myChart2'),
            config = config_type,
        );

        const rating_total = {
            labels: rating_hotel_flask["name"],
            datasets: [{
                backgroundColor: barColors,
                data: rating_hotel_flask["rate"]
            }]
        };
        var config_rating = {
            type: 'bar',
            data: rating_total,
            options: {scales:{x:{ticks:{color:'black'}},y:{ticks:{color:'black'}}},
                plugins:{legend: {display: false},title: {display: true,text: "The Top 5 Hotel By Rating",font:{size:16}}}}
        };
        let myChart3 = new Chart(
            document.getElementById('myChart3'),
            config = config_rating,
        );
    </script>
</body>

</html>