<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Customer Rental Spending</title>
    <link rel="stylesheet" href="../../static/css/sidebar.css">
</head>

<body>
    <!-- The Head Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">SuperTravel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!-- End of The Head Bar -->

    <!--  current page’s location -->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="sidenav">
                    <a href="/custHome/ticketSrh">Ticket Search</a>
                    <a href="/custHome/stsSrh">Status Search</a>
                    <a href="/custHome/hotelSrh">Hotel Search</a>
                    <a href="/custHome/carSrh">Car Search</a>
                    <a href="/custHome/futureF">Future Flights</a>
                    <a href="/custHome/futureB">Future Bookings</a>
                    <a href="/custHome/futureR">Future Rentals</a>
                    <a href="/custHome/pastF">Past Flights</a>
                    <a href="/custHome/pastB">Past Bookings</a>
                    <a href="/custHome/pastR">Past Rentals</a>
                    <a href="/custHome/spendingF">View Flight Spending</a>
                    <a href="/custHome/spendingB">View Hotel Spending</a>
                    <a href="/custHome/spendingR">View Rental Spending</a>
                </div>
            </div>
            <div class="col-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="/custHome">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="/custHome/spendingR">View Rental Spending</a>
                        </li>
                    </ol>
                </nav>
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand mx-auto">View Rental Spending</a>
                </nav>
                <br>
                <form action="/custHome/spendingR" method="POST">
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Total Rental Spending</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="total" readonly>
                        </div>
                    </div>
                    <br>
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">Dear Customer, You can use the datepicker to specify date ranges
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-3 col-form-label">Start Date</label>
                        <div class="col-9">
                            <input class="form-control" type="date" name="start_date" id="start_date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-date-input" class="col-3 col-form-label">End Date</label>
                        <div class="col-9">
                            <input class="form-control" type="date" name="end_date" id="end_date">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Refresh</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- End of current page’s location -->



    <!-- JavaScript files -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>
        total = document.getElementById('total');
        total.value = "{{ret_total}}";

        start = document.getElementById("start_date")
        end = document.getElementById('end_date')
        start.value = "{{start}}";
        end.value = "{{end}}";

        var month_flask = JSON.parse('{{ret_month | tojson}}');
        console.log(month_flask);
        var barColors1 = ["#b91d47","#00aba9","#2b5797","#e8c3b9","#1e7145","#FFCE30","#E83845","#E389B9","#746AB0","#288BA8","#973F2D"];

        const data_month = {
            labels: month_flask["month"],
            datasets: [{
                backgroundColor: barColors1,
                data: month_flask["monthly_spending"],
            }]
        };
        var config = {
            type: 'bar',
            data: data_month,
            options: {scales:{x:{ticks:{color:'black'}},y:{ticks:{color:'black'}}},
                plugins:{legend: {display: false},title: {display: true,text: "Total Car Rental Spending By Month,Year",font:{size:16}}}}
        };
        var myChart = new Chart(
            document.getElementById('myChart'),
            config = config
        );
    </script>

</body>

</html>