<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Customer SignUp</title>

</head>

<body>
    <!-- The Head Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">SuperTravel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sign Up
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/custSnp">Customer</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <!-- End of The Head Bar -->

    <!-- Customer Sign up Forms -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand mx-auto">Welcome to SuperTravel!</a>
                </nav>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
                {% endif %}
                <br>
                <form action="/snpAuth" method="POST">
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Type</label>
                        <div class="col-9">
                            <input class="form-control" type="text" value="Customer" readonly name="type">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Email</label>
                        <div class="col-9">
                            <input type="email" class="form-control" name="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">First Name</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="first_name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Last Name</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="last_name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="exampleInputPassword1">Password</label>
                        <div class="col-9">
                            <input type="password" class="form-control" name="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Street</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="street" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">City</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="city" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">State</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="state" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Country</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="country" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Zipcode</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="zip_code" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Phone Number</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="phone" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Passport Number</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="passport_number" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Passport Expiration</label>
                        <div class="col-9">
                            <input type="date" class="form-control" name="passport_expiration" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Passport Country</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="passport_country" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-3 col-form-label">Date of Birth</label>
                        <div class="col-9">
                            <input type="date" class="form-control" name="dob" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Customer Sign up Forms -->

    <br><br>
    <!-- JavaScript files -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-gRC4eoaRyQ8xv2X6Mnf+eOIrtON3wId3dAkwO0HQX26OrFBoLpjX/XWOJacSiZhL"
        crossorigin="anonymous"></script> -->
</body>

</html>